body {
    background-image: url('../images/pokemon-epic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.blackbox {
    background-color: rgba(0,0,0,.7);
    margin-top: 30px;
    margin-bottom: 30px;
}

div.centerized {
    text-align: center;
    min-width: 1200px;
}

.container-sm {
    position: relative;
    min-width: 1200px;
}

.container-md {
    min-width: 1400px;
}

input.cbox {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

button.home {
    width: 250px;
    height: 150px;
    border-width: 4px;
}

button.bhome {
    top: 1%;
    left: 95%;
    position: absolute;
}

img.icon {
    width: 50px;
    height: 50px;
    padding: 2px;
    margin-right: 7px;
    position: relative;
}

img.type_left {
    width: 36px;
    height: 36px;
}

img.type_right {
    width: 36px;
    height: 36px;
    float: right;
    margin-top: 15px;
}

img.type_small {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

span.nav {
    left: 10px;
    position: relative;
}

a.nav {
    font-size: 160%;
}

label.pokemon-tab {
    font-size: 120%;
    position: relative;
}

img.sprite {
    margin-left: 10px;
    z-index: 1020;
}

img.shadow {
    position: absolute;
    top: 7%;
    left: 4%;
    z-index: 1010;
}

label.dps {
    position: absolute;
    top: 25%;
    right: 5%;
}

label.fm {
    position: absolute;
    top: 21%;
    right: 30%;
}

label.cm {
    position: absolute;
    top: 21%;
    right: 15%;
}
