{% extends 'base.html' %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
    rel="stylesheet" type="text/css" />  
{% endblock %}

{% block content %}
    <div class="centerized">
        <h1>Calculate Pokemon DPS</h1>
        <br>
        <form method="post">
            <div class="row justify-content-center">
                <div class="col-4">
                    <label for="name"><h2>Name:</h2></label>
                </div>
                <div class="col-4">
                    <input type="text" id="name" name="name">
                </div>
            </div>
            <input style="margin-top: 10px;" type="submit" value="enter name" class="btn btn-info">
        </form>

        <script>
            $( function() {
              var availableTags = [
                  {% for suggestion in suggestions %}
                      "{{suggestion}}",
                  {% endfor %}
              ];
              $( "#name" ).autocomplete({
                source: availableTags
              });
            } );
        </script>
    </div>
{% endblock %}