<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(10, 8, 43);">
    <div class="container" style="text-align: center; min-width: 1400px; margin-top: 100px;">
        {% block content %}

        {% endblock %}
        <img src="../static/images/angry_pikach.gif">
    </div>
</body>
</html>