{% extends "base.html" %}

{% block content %}
    <div class="container centerized">
        <h1 class="header">Welcome to Pokemon Go Arena</h1>
        <br>
        <br>
        <a href="dps">
            <button type="button" class="btn btn-outline-info home">
                <h1>Flat<br>DPS</h1>
            </button>
        </a>
        <br>
        <br>
        <br>
        <a href="#">
            <button type="button" class="btn btn-outline-info home">
                <h1>Raid<br>Boss</h1>
            </button>
    </div>
{% endblock %}